/* Extra Small Devices, Phones - peste 480 px*/
@media only screen and (min-width : 480px)
{
	#create-container
	{
		width:480px;
	}

	#go-to-page-1
	{
		left:100px;
	}

	#go-to-page-2
	{
		left:220px;
	}

	#go-to-page-3
	{
		left:340px;
	}

	#sociality-login
	{
		height:initial;
	}

	.btn-sociality-login
	{
		float:left;
		width:calc(50% - 20px);
		margin:0px 10px 30px 10px;
		
	}

	#user-informations-form
	{
		.form-user
		{
			width:440px;
		}
	}

	#step-1-navigation, #step-2-navigation
	{
		button
		{
			width:calc(50% - 20px);
			margin:0px 10px 0px 10px;
			float:left;
		}
	}

	.step-navigation
	{
		.btn-rym
		{
			@include BorderRadius(3px);
			background-image:initial !important;
		}

		.btn-rym-blue
		{
			background-color:$primaryColor !important;
		}

		.btn-rym-transparent
		{
			background-color:#ffffff !important;
			border:1px solid $primaryColor !important;
		}
	}
	
}