/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px){

	span.indicator
	{
		position:absolute;	
		background-repeat:no-repeat;
		background-position:center center;
		width:20px;
		height:20px;
		right:calc(50% - 10px);
		top: calc(50% - 10px);
		display:none;
	}

	button
	{
		position:relative;
	}

	span.indicator-white
	{
		background-image:url("../assets/small/loading-blue-white.gif");
	}

	span.indicator-blue
	{
		background-image:url("../assets/small/loading-white-blue.gif");
	}

	.error-exists
	{
		display:none;
		position:relative;
		width:100%;
		color : $errorColor;
		background-color : $errorBackgroundColor;
		@include SetBackground('small/error.png', 27px center);
		margin-top:30px;
		min-height:100px;
		@include BorderRadius(3px);
		padding:27px 94px 27px 94px;
		.error-title
		{
			font-size:18px;
			font-weight:bold;
		}
	}

	#error-exists-2
	{
		position:relative;
		top:-60px;
	}

	.agree-error
	{
		color:$errorColor;
	}

	#upload-person-photo-form, #upload-memory-photo-form, #user-photo-form, #memory-photo-form
	{
		position:relative;
	}

	#user-photo-upload, #memory-photo-upload
	{
		cursor:pointer;
		position:relative;
		@include Opacity(0.70);
		&:hover
		{
			@include Opacity(1);
			@include EasyTransition(2s);
		}
	}

	#user-photo-upload
	{
		
		width:180px;
		height:180px;
		margin:45px auto 25px auto;
		@include SetBackground('small/user-photo-upload.png', center center);
	}

	#memory-photo-upload
	{
		width:280px; 
		height:280px;
		background-color:#F7F7F7;
		margin:0px auto 0px auto;
		@include SetBackground('small/memory-photo-upload.png', center 75px);
		h2
		{
			position:relative;
			padding:0px 50px;
			top:calc(50% + 65px);
		}
	}

	#user-photo-upload-message, #memory-photo-upload-message
	{
		position: absolute;
		bottom: -40px;
		left : 0px;
		width:100%;
		margin-bottom:0px;
		background-color:#fff;
		font-size:12px;
		padding:0px 10px;
		text-align:center;
		display:none;
	}

	#memory-photo-upload-message
	{
	}

	#user-photo-upload-progress, #memory-photo-upload-progress
	{
		position: absolute;
		bottom: -25px;
		left : 10%;
		right:10%;
		@include BorderRadius(0px);
		display:none; 
		margin-bottom:0px;
		background-color:#fafafa;
		width:80%;
		height:5px;
		.progress-bar
		{
			background-color:$primaryColor;
		}
	}

	#memory-photo-upload-progress
	{
		left:0;
		right:0;
		width:100%;
		display:block;
	}

	.finish-message
	{
		font-size:12px;
		padding:10px;
		color:$errorColor;
		display:none;
	}

	#save-message-memory
	{
		width:280px;
		margin:0px auto;
	}
	#upload-person-photo-form a.dz-remove
	{
		/* display:block; */
		display:none; 
		position: absolute;
		top: 0px;
		left: -10px;
		width: 30px;
		height: 30px;
		@include SetBackground('small/remove-file-30-blue.png', center center);		
	}

	#upload-memory-photo-form a.dz-remove
	{
		/* display: block; */
		display:none; 
		position: absolute;
		top: 20px;
		left: 20px;
		width: 60px;
		height: 60px;
		@include SetBackground('small/remove-file-white.png', center center);	
	}

    #form-group-date
    {
    	i.form-control-feedback 
    	{
		    position: absolute;
		    top: 0;
		    right: 25px;
		    z-index: 2;
		    display: block;
		    width: 34px;
		    height: 34px;
		    line-height: 34px;
		    text-align: center;
		    pointer-events: none;
		}
    }

	#create-container
	{
		padding:0px 15px 0px 15px;
		width:320px;
		margin:30px auto 0px auto;
		position:relative;
	}

	#map-preview
	{
		width:100%;
		height:160px;
		display:none;
	}

	#map-details
	{
		display:none;
		label
		{
			color:$primaryColor;
		}
		.form-group
		{
			margin-bottom:0px;
			.form-control
			{
				height:26px;
			}
		}
	}

	#form-group-date
	{
		margin-top:30px;
	}

	.go-to-page
	{
		position:absolute;
		width:40px;
		height:40px;
		top:0px;
		cursor:pointer;
		@include BorderRadius(20px);
		background-color:transparent;
	}

	#go-to-page-1
	{
		left:20px;
	}

	#go-to-page-2
	{
		left:140px;
	}

	#go-to-page-3
	{
		left:260px;
	}

	.create-step
	{
		padding:60px 0px 0px 0px; /* 40 bulinele + 30 cat vreau sa fie spatiul */
		h1, h2
		{
			text-align:center;
		}
		h1
		{
			font-size:24px;
			font-weight:bold;
			padding:0px 0px 40px 0px;
		}
	}

	#create-step-1
	{
		@include SetBackground('small/create-step-1.png', top center);
	}
	
	#create-step-2
	{
		display:none; 
		@include SetBackground('small/create-step-2.png', top center);
	}
	
	#create-step-3
	{
		display:none;
		@include SetBackground('small/create-step-3.png', top center);
	}

	#sociality-login
	{
		height:263px;
		background-color:#F9F9F9;
		h2
		{
			font-size:16px;
			padding:32px 30px 26px 30px;
		}		
	}

	h2#memory-photo-upload-info, h2#user-photo-upload-info
	{
		margin:0px auto 0px auto!important;
		font-size:18px;
		width:280px;

	}

	h2#memory-photo-upload-info
	{
		position:relative;
		top:-110px;
		padding:0px 30px;
	}



	.btn-sociality-login
	{
		width:240px;
		height:60px;
		display:block;
		margin:0px auto 20px auto;
		color:#fff;
		font-size:15px;
		padding-left:50px;
		@include BorderRadius(3px);
	}

	#btn-sociality-facebook
	{
		background-image:url("../assets/small/login-facebook.png");
		/*
		@include SetBackground('small/login-facebook.png', 27px center);
		*/
	}

	#btn-sociality-twitter
	{
		background-image:url("../assets/small/login-twitter.png");
	}

	#user-socialite-avatar
	{
		width:180px;
		height:180px;
		margin:45px auto 25px auto;
		img{
			width:180px;
			height:180px;
			display:block;
			margin:0px auto;
		}
	}

	h2#user-photo-upload-info
	{
		width:180px;
		margin:0px auto 0px auto !important;
	}

	#user-informations-form
	{
		margin-top:40px;
		.form-user
		{
			width:280px;
			display:block;
			margin:0px auto 0px auto;
		}
		small.help-block
		{
			margin:2px 0px 0px 0px !important;
			color:#cc0000 !important;
		}
	}

	.step-navigation
	{
		margin-top:45px;
		margin-bottom:45px;
		button.btn-rym
		{
			width:280px;
			display:block;
			margin:0px auto 20px auto;
		}
		.btn-rym-transparent
		{
		}
		.btn-rym-blue
		{
		}
	}

	#step-3-navigation
	{
		margin-top:0px;
		margin-bottom:0px;
		#btn-step-3-view
		{
			margin-top:0px;
			margin-bottom:0px;
		}
	}

	#memory-info
	{
		width:280px;
		margin:50px auto auto auto;
		height:135px;
		background-image:url("../assets/small/info.png");
		background-position:0px 0px;
		background-repeat:no-repeat;
		padding-left:80px;
		font-size:15px;
	}

	#memory-informations-form
	{
		width:280px;
		margin:0px auto 40px auto;

		.form-group-description
		{
			border-bottom : 1px solid $primaryColor;
			padding-bottom:10px;
		}
		
		.form-group-description-focused
		{
			border-bottom : 2px solid $primaryColor;
			padding-bottom:10px;
		}

		#lblDescription
		{
			font-size:15px;
			font-weight:normal;
			color:#A0A0A0;
			padding-left:4px;
			margin-bottom:0px;
		}
		textarea
		{
			padding:6px 30px 6px 6px;
			max-width:280px;
			min-width:280px;
			height:100px;
			min-height:100px;
			max-height:100px;
			border-bottom:none;
			color:$primaryColor;
		}
	}

	

	#notification-options, #terms-newsletter-options
	{
		width:280px;
		margin:0px auto 0px auto;
		h2
		{
			font-size:16px;
			font-weight:bold;
			margin-bottom:45px !important;
		}
		label
		{
			display:block;
			font-weight:normal;
			font-size:15px;
		}
		.icr-label
		{
			margin-bottom:30px;
		}
		.icr-text 
		{
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			width: 230px;
		}
	}

	#notification-options
	{
		margin-top:45px;
		.icr-text 
		{
			margin-left: 4px;
			width: 240px;
		}
	}

	#create-step-3
	{
		h1
		{
			margin-top:25px !important;
		}
	}

	#thank-you-info
	{
		width:285px;
		font-size:16px;
		text-align:center;
		margin:0px auto 15px auto;
	}

	#btn-step-3-view
	{
		margin:40px auto;
	}

	.no-user-photo
	{
		color:#cc0000;
	}

	#upload-person-photo-form
	{
		background-color: transparent;
		width:100%;
		height:100%;
		@include BorderRadius(50%);
		.dz-image>img
		{
			@include BorderRadius(50%);
		}
	}

	.dz-details, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark
	{
		display:none;
	}

	form
	{
		.form-group
		{
			margin-bottom:30px;
		}
		input.form-control
		{
			padding: 0px 6px;
		}
	}
}