/* Small Devices, Tablets - peste 768*/
@media only screen and (min-width : 768px)
{

	
	#create-container
	{
		width:750px;
		margin-top:60px;
		padding-left:0px;
		padding-right:0px;
	}

	.create-step {
	    padding: 76px 0px 0px 0px;
	    h1
	    {
	    	font-size:36px;
	    	padding: 25px 0px 85px 0px;
	    }
	}

	#create-step-1 
	{
    	background-image: url("../assets/small/step-1.png");
    }

    #create-step-2 
	{
    	background-image: url("../assets/small/step-2.png");
    }

    #create-step-3 
	{
    	background-image: url("../assets/small/step-3.png");
    }

	#go-to-page-1
	{
		left:63px;
		top:1px;
	}

	#go-to-page-2
	{
		left:354px;
		top:1px;
	}

	#go-to-page-3
	{
		left:648px;
		top:1px;
	}

	#sociality-login 
	{
		width:750px;
		height:197px;
	    padding: 0px 97px 0px 97px;
	    h2
	    {
	    	padding:45px 0px 30px 0px;
	    }
	}

	#user-photo-form
	{
		margin-top:15px;
	}

	#btn-sociality-facebook
	{
		background-color:#3b5998;
		padding-left: 40px;
		font-size:18px;
		margin-bottom:45px;
	}

	#btn-sociality-twitter
	{
		background-color:#55acee;
		padding-left: 40px;
		font-size:18px;
		margin-bottom:45px;
	}

	#user-photo-form
	{
		float:left;
		width:50%;
	}

	#user-informations-form
	{
		float:right;
		margin-top:50px;
		width:50%;
		.form-group
		{
			width:100%;
			margin-bottom:40px;
			.form-user
			{
				width:100%;
			}
		}
	}

	.step-navigation
	{
		#btn-step-1-next, #btn-step-2-next
		{
			width:262px;
			margin:0px;
		}
		#btn-step-1-back, #btn-step-2-back
		{
			width:262px;
			float:right;
			margin:0px;
		}
	}

	#step-1-navigation
	{
		margin-top:50px;
	}

	#memory-info {
	    width: 600px;
	    margin: 50px auto 80px auto;
	    height: initial;
	    font-size: 18px;
	    /*
	    background-image: url("../assets/small/info.png");
	    background-position: 0px 0px;
	    background-repeat: no-repeat;
	    padding-left: 80px;
	    
	    */
	}

	#memory-informations-form 
	{
	    width: 700px;
	    margin: 0px auto 0px auto;
	    textarea {
		    padding: 6px 30px 6px 6px;
		    max-width: 700px;
		    min-width: 700px;
		    height: 140px;
		    min-height: 140px;
		    max-height: 140px;
		}



		#form-group-location
		{
			float:left;
			width:65%;
			position: relative;
			top: 30px;
		}

		#form-group-date
		{
			float:right;
			width:30%;
		}
	}



	#notification-options {
	    width: 700px;
	    margin: 0px auto 0px auto;

	    label.icr-label
	    {
	    	display:block;
	    	float:left;
	    	width:40%;
	    }

	    label.icr-label:nth-child(2n+1)
	    {
	    	margin-left:16%;
	    }

	}

	#create-step-3
	{
		padding-top:40px;
	}

	#thank-you-info {
	    width: 400px;
	}

	#btn-step-3-view
	{
		width:263px;
	}
}