html, body, #wrapper
{
	width:100%;
	min-height:100vh;
	color:#000064;
}

/*
[data-loader='circle-scale']  
{
	width:calc(100% - 16px);
	height:calc(100% - 16px);

	&:before, &:after
	{
		width:100%;
		height:100%;
		border:1px solid #c7c7c7;
		
	}

	&:before
	{
		-webkit-animation: 3s circle-scale infinite linear alternate;
		-o-animation: 3s circle-scale infinite linear alternate;
		animation: 3s circle-scale infinite linear alternate;
	}

	&:after
	{
		-webkit-animation: 2s circle-scale infinite linear alternate;
		-o-animation: 2s circle-scale infinite linear alternate;
		animation: 2s circle-scale infinite linear alternate;
	}
}
*/

div 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div::-moz-selection, div::selection
{ 
	background:transparent; 
}

#wrapper
{
	background-color:#fff;
}

.bk-full
{
	background-repeat:no-repeat;
	background-position:center center;
	width:100%;
}

.no-wrap
{
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
}

.font-light
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#btn-learn-more
{
	margin-top:33px;
	font-weight:bold;
}

.loader
{
	display:inline-block;
	width:30px;
	height:30px; 
	background-repeat:no-repeat;
	background-image:url("../assets/small/wheel.gif");
	cursor:default;
						
}