@media only screen and (min-width : 768px)
{
	#slide-intro-modal
	{

		.modal-dialog
		{
			
			right:calc(50% - 240px);
			left:calc(50% - 240px);
			height:360px;
			width:480px;
			min-height:360px;
			max-height:360px;

			.modal-body
			{
				padding:45px 75px;
				height:360px;
				h1
				{
					font-size:26px;
					margin-bottom:20px;
				}

				p
				{
					font-size:16px;
					line-height:24px;
				}

				#btn-learn-more
				{
					margin-top:30px;
				}

				#skip
				{
					margin-top:15px;
					a
					{
					}
				}
			}
		}
	}

	#slide-tips-modal
	{
		.modal-dialog
		{
			.modal-body
			{
				#btn-close
				{
					top:95px;
					right:20px;
				}

				#tips-container
				{
					width:700px;
					left:calc(50% - 350px);
					.btn-arrows
					{
						display:block;
						width:24px;
						height:42px;
						position:absolute;
						top:calc(50% - 21px);
						border-repeat:no-repeat;
						z-index : 5001;
					}
					#btn-left
					{
						left:0px;
						background-image:url("../assets/small/arrow-left.png");
					}
					#btn-right
					{
						right:0px;
						background-image:url("../assets/small/arrow-right.png");
					}
				}
			}
		}
	}

}