@media only screen and (min-width : 992px)
{
	#slide-tips-modal
	{
		.modal-dialog
		{
			.modal-body
			{
				#btn-close
				{
					top:95px;
					right:30px;
				}

				#tips-container
				{
					width:900px;
					left:calc(50% - 450px);

					.tips-page
					{
						width:600px;
						height: calc(100% - 75px);
						
						h1
						{
							width:540px;			
							font-size:22px;
							font-weight:bold;
							padding-top:195px;
						}
						p
						{
							width:540px;
							font-size:15px;
							padding-top:35px;
						}

						#btn-get-started
						{
							margin-top:50px;
						}

					}					
				}
			}
		}
	}

}