#burger-navigation
{
	height:25px;
}
#burger-menu-modal
{
	-webkit-transition : all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
	transition : all 1s ease 0s;
	.modal-dialog
	{
		background-color:#FFF;
	}
}

.select-container-white
{
	margin:0px auto;
	width:100%;
	*
	{
		webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	select{
		width:100%;
	}


	.bootstrap-select, .bootstrap-select>button.btn
	{
		background-color:transparent;
		border:none;
		-moz-box-shadow: initial;
		-webkit-box-shadow: initial;
		box-shadow: initial;
		-ms-filter: initial;
		filter: initial;
		&:focus
		{
			outline:0 none !important;
		}
	}

	.open>.dropdown-toggle.btn-default:hover {
		color: #333;
		background-color: transparent;
		border-color: #f00;
	}

	.bootstrap-select.btn-group .dropdown-toggle .caret 
	{
		right:0px;
	}

	.bootstrap-select
	{
		border-bottom:1px solid #000064 !important;

		

		.bs-caret, .bs-caret .caret
		{
			color:#000064;
		}

		ul.dropdown-menu, div.dropdown-menu
		{
			width:100%;
			min-width:100%;
			max-width:100%;
			background-color:#FFF;
			li>a>span
			{
				color:#000064;
			}
			.active>a
			{
				background-color:#000064;
				>span
				{
					color:#FFF;
				}
			}
		}
		.popover-title
		{
			background-color:#FFF;
		}
		.bs-searchbox
		{
			.form-control
			{
				-moz-box-shadow: initial;
				-webkit-box-shadow: initial;
				box-shadow: initial;
				-ms-filter: initial;
				filter: initial;
				&:focus
				{
					border: 1px solid #ccc;
				}
				padding-left:6px;
				padding-right:6px;
			}
		}
	}

	.filter-option
	{
		color:#000064;
		font-weight:bold;
	}

	li, li:focus 
	{
    	outline:0 none !important;
    	a, a:focus
    	{
    		outline:0 none !important;
    	}
	}
}

#menu-controls
{
	padding:30px 20px;
}

#options
{
	padding-top:50px;
	padding-bottom:64px;
}

.menu-options-item
{
	background-repeat:no-repeat;
	background-position:left center;
	height:20px;
	font-size:16px;
	line-height:20px;
	padding-left:37px;
	margin-bottom:26px;
	a
	{
		text-decoration:none;
		color:#000064;
		font-weight:bold;
		&:hover
		{
			font-weight:bold;
			text-decoration:underline;
		}
	}
}

#option-create
{
	background-image:url("../assets/small/menu-create-memory.png");	
}

#option-neuronal-view
{
	background-image:url("../assets/small/menu-neuronal-view.png");	
}

#option-map-view
{
	background-image:url("../assets/small/menu-map-view.png");	
}

#option-about
{
	background-image:url("../assets/small/menu-about.png");	
}

#option-win
{
	background-image:url("../assets/small/menu-prizes.png");	
	margin-bottom:0px;
}

#links
{
}

.link-item
{
	margin-bottom:26px;
	a
	{
		color:#000064;
	}
}

.flag
{
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:30px !important;
}

.flag-en
{
	background-image:url("../assets/small/flag-en.png");	
}

.flag-it
{
	background-image:url("../assets/small/flag-it.png");	
}

.flag-es
{
	background-image:url("../assets/small/flag-es.png");	
}

.flag-pt
{
	background-image:url("../assets/small/flag-pt.png");	
}

.flag-pl
{
	background-image:url("../assets/small/flag-pl.png");	
}

.flag-ru
{
	background-image:url("../assets/small/flag-ru.png");	
}

.flag-fr
{
	background-image:url("../assets/small/flag-fr.png");	
}