input, button, select, textarea
{
	outline:0 none;
	&:focus
	{
		outline:0 none;
	}
}

button:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;	
}

.form-control
{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	outline: 0;
    outline: none;
    border: none;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-ms-filter: none;
	filter: none;
	border-bottom:1px solid #000064;
	color:#000064;
	padding-left:0px;
	padding-right:0px;
	&:focus
	{
		outline: 0;
	    outline: none;
	    border: none;
	    -moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-ms-filter: none;
		filter: none;
		border-bottom:2px solid #000064;
	}
}

.btn-no
{
	margin:0;
	padding:0;
	background-color:transparent;
	border:none;
}

.btn-default-size
{
	width:60px;
	height:60px;
}

.btn-rym
{
	height:60px;
	width:100%;
	webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	margin-bottom:15px;
	-webkit-transition : all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
	transition : all 1s ease 0s;
}

.btn-rym-bordered
{
	border:1px solid #000064;
	color:#000064;
	&:hover
	{
		color:#fff;
		background-color:#000064;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;	
	}
}

.btn-rym-blue
{
	color:#fff;
	background-color:#000064;
}

.has-success .form-control, .has-error .form-control
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-ms-filter: none;
	filter: none;
	&:focus
	{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-ms-filter: none;
		filter: none;
	}
}

.has-success .form-control
{
	border-color: #000064;
	&:focus
	{
		border-color: #000064;
	}
}

.has-error .form-control-feedback 
{
	color: #cc0000;
}

.has-success .form-control-feedback 
{
	color: #000064;
}

.has-error .form-control
{
	border-color: #cc0000;
	&:focus
	{
		border-color: #cc0000;
	}
}

.input-group-addon
{
	background-color: #fff;
	border: none;
    -webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 6px 0px 6px 12px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control 
{
	background-color: #fff;
	opacity: 1;
}

.has-error .input-group-addon 
{
    color: #a94442;
    background-color: #fff;
    border-color: #fff;
}

.has-success .input-group-addon 
{
    color: #000064;
    background-color: #fff;
    border-color: #fff;
}

small.help-block
{
	color:#cc0000 !important;
}