/*
.modal#slide-intro-modal:not(.in) .modal-dialog 
{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
*/

.modal#slide-intro-modal.fade:not(.in) .modal-dialog
{
/*
  -webkit-transition: -webkit-transform 0.5s linear;
       -o-transition:      -o-transform 0.5s linear;
          transition:         transform 0.5s linear;
*/
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

#slide-intro-modal
{
	-webkit-transition : all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
	transition : all 1s ease 0s;
	.modal-dialog
	{
		right:calc(50% - 140px);
		left:calc(50% - 140px);
		height:318.5px;
		width:280px;
		min-height:318.5px;
		max-height:318.5px;

		.modal-body
		{
			padding:45px 20px;
			height:318.5px;
			text-align:center;
			h1
			{
				color:#fff;
				font-size:24px;
				font-weight:bold;
			}

			p
			{
				font-size:15px;
				line-height:19px;
			}

			#btn-learn-more
			{
				width:240px;
			}

			#skip
			{
				a
				{
					color:#000064;
					text-decoration:underline;
					font-weight:bold;
				}
			}
		}
	}
}