/*
 * Fade in from right
 */

.modal#search-panel-modal.fade:not(.in) .modal-dialog,
.modal#burger-menu-modal.fade:not(.in) .modal-dialog 
{
  -webkit-transition: -webkit-transform 2s linear;
       -o-transition:      -o-transform 2s linear;
          transition:         transform 2s linear;

  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
       -o-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.modal.in .modal-dialog 
{
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}


/*
 * Reset background, border radius, shadow, padding and margin
 */
.modal-content, 
.modal-header, 
.modal-body, 
.modal-footer
{
	background-color : transparent;
	webkit-border-radius : 0 !important;
	-moz-border-radius : 0 !important;
	border-radius : 0 !important;
	border:none;
	-moz-box-shadow : initial;
	-webkit-box-shadow : initial;
	box-shadow : initial;
	-ms-filter : initial;
	filter : initial;
	padding : 0px;
	margin : 0px;
}

/*
 * Full height modal on right side
 */
.modal-dialog
{
	position:absolute;
	top:0;
	right:0;
	margin:0px;
	min-height:100vh; 
}

/* 
 * modal transparent 
 */
.modal-transparent .modal-dialog-transparent 
{
	-khtml-opacity : .85; 
	-moz-opacity : .85; 
	-ms-filter : ”alpha(opacity=85)”;
	filter : alpha(opacity=85);
	filter : progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);
	opacity : .85;
	background-color:#ffbe00;
}

.modal-backdrop.modal-backdrop-transparent{}

.modal-backdrop.modal-backdrop-transparent.in{}