/*
 * MODALS WITH TIPS
 **/

#slide-tips-modal
{
	.modal-dialog
	{

		right:0;
		left:0;
		height:100%;
		width:100%;
		min-height:100%;
		max-height:100%;


		.modal-body
		{
			height:100vh;
			width:100%;

			#btn-close
			{
				position:absolute;
				top:22px;
				right:20px;
				width:16px;
				height:16px;
				background-image:url("../assets/small/close.png");
			}

			#tips-pagination
			{
				position:absolute;
				bottom:28px;
				left:0px;
				right:0px;
				text-align:center;
				height:15px;

				.btn-tip-item
				{
					width:15px;
					height:15px;
					margin:0px 5px;
				}

				.btn-tip-item-selected
				{
					background-image:url("../assets/small/tip-selected.png");
				}

				.btn-tip-item-unselected
				{
					background-image:url("../assets/small/tip-unselected.png");
				}
			}

			#tips-container
			{
				position:absolute;
				width:100%;
				height:480px;
				top:50%;
				margin-top:-240px;
				.btn-arrows
				{
					display:none;
				}
				.tips-page
				{
					width:320px;
					height: calc(100% - 75px);
					margin:0px auto;
					background-repeat:no-repeat;
					background-position:center top;
					text-align:center;
					h1
					{
						color:#fff;		
						margin:0px auto;
						width:280px;			
						font-size:22px;
						font-weight:bold;
						padding-top:170px;
					}
					p
					{
						width:260px;
						font-size:15px;
						margin:0px auto;
						padding-top:20px;
					}
					#btn-get-started
					{
						margin-top:20px;
						font-weight:bold;
						width:240px;
					}
				}
				#tips-page-0
				{
					background-image:url("../assets/small/memory-sample.png");
				}
				#tips-page-1
				{
					background-position:center -40px;
					background-image:url("../assets/small/connections-sample.png");
				}
				#tips-page-2
				{
					background-image:url("../assets/small/search-sample.png");
				}
				#tips-page-3
				{
					background-image:url("../assets/small/create-sample.png");
				}
			}

			
		}
	}
}
