.info-content {
  background-color: #F0F;
  width: 240px;
}
.info-content .info-content-left, .info-content .info-content-right {
  float: left;
}
.info-content .info-content-left {
  width: 60px;
}
.info-content .info-content-right {
  width: calc(100% - 60px);
  padding: 0px 5px;
  text-align: center;
}
.info-content img {
  width: 60px;
  height: 60px;
}

#map-view-overlay {
  display: none;
}

@media only screen and (min-width: 320px) {
  #map-view {
    z-index: 54;
  }

  #google-map-view-overlay {
    position: absolute;
    background-image: url("../assets/small/map-view-tooltip-overlay.png");
    -ms-filter: initial;
    filter: none;
    -moz-opacity: initial;
    -khtml-opacity: initial;
    opacity: initial;
    /*
    margin-top: calc(100vh - 135px);
    */
    bottom: 0;
    width: 100%;
    height: 75px;
    z-index: 55;
  }
}
