@media only screen and (min-width : 1280px)
{

	#memory-actions-large 
	{
		right:30px;
		top:180px;
	}

	.section-container.for-large
	{
		display: block;
	    width: 100%;
	    /*
	    margin-left: calc(50vw - 640px);
	    margin-right: calc(50vw - 640px);
	    */
	}

	.detail-section-1
	{
		width: 1280px;
		padding: 120px 0px 60px 130px;

		#memory-image-large
		{
			width:460px;
			height:460px;
			padding:0px;
			img
			{
				width:460px;
				height:460px;
			}
		}

		#memory-infos-large 
		{
		    width: calc(100% - 460px);
		    .memory-name
		    {
		    	font-size:64px;
		    	padding-right:60px;
		    	padding-left:50px;
		    }
		    .memory-likes-comments 
		    {
			    display: inline-block;
			    padding-left:40px;
			}
		}
	}	

	.detail-section-2, .detail-section-6, .detail-section-7
	{
		width: 100%;
	}

	.detail-section-6
	{
		margin-top:75px;
	}

	#section-2-large-container, #section-6-large-container, .detail-section-7 #comments-large-container
	{
		width:950px;
		margin-left:auto;
		margin-right:auto;
	}

	#comments-large-container
	{
	}

	#section-8-large-container
	{
		width:100%;
		#section-8-large-connected-container
		{
			width:1280px;
		}

		h2
		{
			margin-bottom:60px;
		}
		.connection-item
		{
			width:25%;
		}
	}
}
