@media only screen and (min-width : 768px)
{

	.for-small
	{
		display:none;
	}

	.for-large
	{
		display:block;
	}

	#memory-actions-large
	{
		display:block;
		position:fixed;
		width:60px;
		top:70px;
		right:20px;
		z-index:10000;
		img
		{
			margin-bottom:15px;
			cursor:pointer;
			&:hover
			{
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
				filter: alpha(opacity=70);
				-moz-opacity: 0.70;
				-khtml-opacity: 0.70;
				opacity: 0.70;	
			}
		}
		img:last-child
		{
			margin-bottom:0px;
		}
	}

	.detail-section-1
	{
		width:calc(100% - 80px);
		padding:70px 20px 30px 0px;

		#memory-image-large, #memory-infos-large
		{
			float:left;
		}

		#memory-image-large
		{
			padding:0px 20px 0px 20px;
			width:360px;
		}

		#memory-infos-large
		{
			width:calc(100% - 360px);
			text-align:center;
			.memory-name
			{
				color:#fff;
				margin:40px 0px;
			}

			.memory-location
			{
				width:auto;
				color:#fff;
			}

			.memory-likes-comments
			{
				display:block;
				color:#fff;
			}

			.memory-likes
			{
				background-image:url("../assets/large/likes.png");
			}

			.memory-comments
			{
				background-image:url("../assets/large/comments.png");
			}

			.memory-location
			{
				background-image:url("../assets/large/location.png");
			}
		}
	}

	.detail-section-2
	{
		#section-2-large-user, #section-2-large-description
		{
			float:left;
		}

		#section-2-large-user
		{
			width:300px;
		}

		#section-2-large-description
		{
			width:calc(100% - 380px);

			.memory-description
			{
				margin-top:0px;
			}
		}
	}

	.detail-section-4
	{
		.memory-small-map
		{
			height:360px;
		}
	}

	.detail-section-6
	{
		#section-6-large-comment, #section-6-large-user
		{
			float:left;
		}

		#section-6-large-comment
		{
			width:calc(65% - 40px);
			padding-right:25px;
			textarea
			{
				width:100%; max-width:100%; min-width:100%;
				height:180px; 
			}
		}

		#section-6-large-user
		{
			width:calc(35% - 40px);
			padding-left:25px;
		}

		#btn-send-large-comment
		{
			width:360px;
			display:block;
			margin:45px auto 0px auto;
		}
	}

	.detail-section-7
	{
		margin-top:80px;
		#comments-large-container
		{
			width:calc(100% - 80px);
		}

		.comment-item-container
		{
			padding-bottom:40px;
			padding-top:40px;
		}

		.comment-item-container:first-child
		{
			padding-bottom:60px;
			padding-top:0px;
		}

		.comment-item-left
		{
			float:left;
			width:200px;
			.l-c-nickname
			{
				font-size:15px;
				font-weight:bold;
				line-hight:18px;
			}
			.l-c-created-at
			{
				font-size:12px;
				color:#b3b3b3;
				line-height:18px;
			}
		}

		.comment-item-right
		{
			float:right;
			width:calc(100% - 200px);
		}

		.btn-show-more-comments
		{
			width:360px;
			display:block;
			margin:45px auto 0px auto;
		}
	}

	#section-8-large-container
	{
		margin-top:50px;
		width:calc(100% - 80px);
		

		h2
		{
			font-size:32px;
		}

		#section-8-large-connected-container
		{
			width:640px;
			margin:0px auto;
		}

		.connection-item
		{
			width:50%;
		}
	}
}