#navigation
{
	background-color:transparent;
	z-index:10;
	position:absolute;
}


.section-container
{
	position:absolute;
	top:0px;
	z-index:9;
	width:100%;
}

.detail-section
{
	
}


.detail-section-1
{
}

.detail-section-2
{
}

.detail-section-3
{
}

.detail-section-4
{
}

.detail-section-5
{
}

.detail-section-6
{
}

img.no-pointer
{
	cursor:default !important;
}

img.is-liked
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
	filter: alpha(opacity=20) !important;
	-moz-opacity: 0.20 !important;
	-khtml-opacity: 0.20 !important;
	opacity: 0.20 !important;
	&:hover
	{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
		filter: alpha(opacity=20) !important;
		-moz-opacity: 0.20 !important;
		-khtml-opacity: 0.20 !important;
		opacity: 0.20 !important;
	}
}

span.is-liked
{
	color:#8080ff;
}

.form-control{font-size:16px; padding:0px 10px}

span.indicator
{
	position:absolute;	
	background-repeat:no-repeat;
	background-position:center center;
	width:20px;
	height:20px;
	right:calc(50% - 10px);
	top: calc(50% - 10px);
	display:none;
}

button
{
	position:relative;
}

span.indicator-white
{
	background-image:url("../assets/small/loading-blue-white.gif");
}

span.indicator-blue
{
	background-image:url("../assets/small/loading-white-blue.gif");
}

.comment-item-container
{
	border-bottom:1px solid #b3b3b3;
	margin:20px 0px;
}

.comment-item-container:first-child
{
	margin:0px;
}

.comment-item-container:last-child
{
	border-bottom:none;
}

.btn-show-more-comments
{
	display:block;
	width:280px;
	border:1px solid #000064;
	color:#000064;
}

.detail-section-8
{

	h2
	{
		font-size:24px;
		text-align:center;
	}
}

