@media only screen and (min-width : 320px)
{

	.for-small
	{
		display:block;
	}

	.for-large
	{
		display:none;
	}

	#logo
	{
		height:20px; 
		width:208px;
		background-image:url("../assets/small/logo-white.png");
		background-repeat:no-repeat;
	}

	#burger
	{
		height:20px;
		width:20px;
		button
		{
			background-image:url("../assets/small/burger-menu-white.png");
			background-repeat:no-repeat;
		}
	}

	.section-container
	{
	}

	#memory-actions-large
	{
		display:none;
	}

	.detail-section-1
	{
		img
		{
			height:320px;
			width:320px;
			display:block;
			margin:0 auto;
		}
	}

	.detail-section-2
	{
		background-color:#fff;
		padding:30px 20px;
	}

	.memory-name
	{
		font-size:24px;
		font-weight:bold;
	}

	.memory-location, .memory-likes, .memory-comments
	{
		background-repeat:no-repeat;
		background-position:left center;
	}

	.memory-location
	{
		margin-top:15px;
		background-image:url("../assets/small/location.png");
		padding-left:20px;
	}

	.memory-likes-comments
	{
		margin-top:15px;
	}

	.memory-likes
	{
		background-image:url("../assets/small/likes.png");
		padding-left:24px;
		padding-right:20px;
	}

	.memory-comments
	{
		background-image:url("../assets/small/comments.png");
		padding-left:24px;
	}

	.detail-section-3
	{
		background-color:#fff;
		padding:15px 20px;
	}

	.user-avatar
	{
		float:left;
		width:60px;
	}

	.user-infos
	{
		float:left;
		width:calc(100% - 60px);
		padding-left:20px;
		padding-top:10px;
	}

	.user-nickname
	{
		font-weight:bold;
	}

	.user-created-at
	{
		color:#7e7e7e;
	}

	.memory-description
	{
		margin-top:30px;
		color:#7e7e7e;
	}

	.memory-tags
	{
		margin-top:30px;
	}

	.memory-small-map
	{
		width:100%;
		height:180px;
	}

	.detail-section-5
	{
		background-color:#fff;
		padding:15px 20px;
	}

	#memory-actions-small
	{
		width:280px;
		margin:0px auto;
		.memory-action
		{
			display:block;
			width:25%;
			text-align:center;
			float:left;
			img
			{
				width:60px;
				height:60px;
			}
		}
	}

	.detail-section-6
	{
		background-color:#fff;
		padding:15px 20px;
	}

	#comment-add-small
	{
		width:280px;
		margin:0px auto;

		textarea
		{
			width:100%; max-width:100%; min-width:100%;
			height:90px; 
		}
	}

	.detail-section-7
	{
		background-color:#fff;
		padding:15px 20px;
	}

	#comments-small-container
	{
		width:280px;
		margin:0px auto;
	}

	.user-infos-comment-row
	{

	}

	.user-comment-nickname
	{
		float:left;
		width:35%;
		font-size:15px;
		font-weight:bold;
		line-hight:18px;
	}

	.comment-created-at
	{
		float:right;
		width:65%;
		font-size:12px;
		color:#b3b3b3;
		line-height:18px;
		text-align:right;
		position: relative;
		top: 3px;
	}

	.comment-body
	{
		padding:20px 0px;
		color:#b3b3b3;
		font-size:16px;
	}

	#conection-container-small
	{
		width:320px;
		margin:30px auto 0px auto;
	}
	
	.connection-item
	{
		float:left;
		width:100%;
		.photo-container
		{
			width:100%;
			text-align:center;
			position:relative;
			img
			{
				width:100%;
				height:100%;
			}
			.connection-infos
			{
				position:absolute;
				padding:0px 15px;
				bottom:20px;
				left:0;
				text-align:left;
				right:0px;
				>div
				{
					margin-top:15px; 
					width:100%;
					overflow:hidden !important;
					text-overflow: ellipsis;
					line-height:15px;
					height:15px;
				}
				.name
				{
					display:block;
					font-size:18px;
					color:#fff;
					font-weight:bold;
					margin-bottom:15px;
					white-space: nowrap;
					overflow:hidden !important;
					text-overflow: ellipsis;
					text-decoration:none;
					&:hover
					{
						color:#e7e7e7;
					}

				}
				.location, .likes, .comments, .date-of
				{
					font-size:15px;
					color:#fff;
					background-repeat:no-repeat;
					background-position:left center;
					line-height:15px;
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				}
				.location
				{
					background-image:url("../assets/small/location-white-mini.png");
					padding-left:20px;
				}
				.likes
				{
					background-image:url("../assets/small/likes-white.png");
					padding-left:20px;
					padding-right:20px;
				}
				.comments
				{
					background-image:url("../assets/small/comments-white.png");
					padding-left:20px;
				}
			}
			.connection-circles
			{
				position:absolute;
				top:16px;
				right:16px;
				width:60px;
				>div
				{
					margin:8px 0px;
					text-align:right;
					img{
						width:30px;
						height:30px;
					}
				}
			}
		}
	}

	.memory-action
	{
		img
		{
			cursor:pointer;
		}
	}
}