
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{

	#logo
	{
		width:260px;
		height:25px;
		background-image:url("../assets/large/logo-white.png");
	}

	#burger
	{
		width:25px;
		height:25px;
		button
		{
			background-image:url("../assets/large/burger-menu-white.png");
		}
	}
}


