@media only screen and (min-width : 320px)
{

	#map-view
	{
		z-index : 54;

	}

	#google-map-view-overlay
	{
	 	position:absolute;
	 	background-image:url("../assets/small/map-view-tooltip-overlay.png");
	 	-ms-filter: initial;
		filter: none;
		-moz-opacity : initial;
		-khtml-opacity : initial;
		opacity : initial;

	 	/*
	 	margin-top: calc(100vh - 135px);
	 	*/
	 	bottom:0;
	 	width:100%;
	 	height:75px;

	 	z-index : 55;
	}
}