.info-content
{
	background-color:#F0F;
	width: 240px;
	.info-content-left, .info-content-right
	{
		float:left;
	}
	.info-content-left{width:60px}
	.info-content-right{ width: calc(100% - 60px); padding:0px 5px; text-align:center;}
	img{width:60px; height:60px}
}

#map-view-overlay
{
	display:none;
}