@media only screen and (min-width : 992px)
{

	#map-view
	{
		height:calc(100vh - 65px);
	}

	#memories-count
	{
		bottom:20px;
		left:30px;
		font-size:18px;
		height:18px;
		line-height:18px;
	}

	#map-view-controls
	{
		bottom:32px;
		right:30px;
	}

	.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content 
	{
		font-size:18px;
	}

	#search-panel-modal
	{

		.modal-dialog
		{
			width:430px;
		}

	}

	#search-by-tags
	{
		height:90px;
		padding:24px 30px;
	}

	#search-controls
	{
		padding:45px 30px 30px 30px;
	}

	#search-buttons-group
	{
		padding:0px 30px;
	}

	.btn-filter
	{
		font-size:16px;
	}

	#memory-tooltip-transparent, #memory-tooltip
	{
		height:113.5px;
		padding:0px 30px;
	}

	.view-small
	{
		display:none;
	}

	.view-large
	{
		display:block;
	}

	#memory-tooltip-left
	{
		padding:26.75px 0px;
	}

	#memory-tooltip-right
	{
		background-repeat:no-repeat;
		background-position:right center;
		background-image:url("../assets/small/right.png");
	}

	#memory-name.view-large
	{
		height:56.75px;
		font-size:24px;
		font-weight:bold;
		padding-top:23px;
	}

	#memory-location.view-large
	{
		height:56.75px;
		padding-top:8px;
		font-size:18px;
	}

	span.view-large
	{
		display:inline-block;
	}

	#m-likes.view-large
	{
		margin-left:20px;
	}

}