#map-view
{
	position:relative;
	#map-view-overlay
	{
	 	position:absolute;
	 	background-color:#000;
	 	top:0;
	 	width:100%;
	 	height:100%;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity: 0.50;
		-khtml-opacity: 0.50;
		opacity: 0.50;
	}
}

#memory-tooltip-transparent, #memory-tooltip
{
	-webkit-transition : all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
	transition : all 1s ease 0s;
}

#memories-count, #map-view-controls, #memory-tooltip-transparent, #memory-tooltip
{
	position:absolute;
	z-index:60;
}

#memories-count
{
	color:#fff;
}

#map-view-controls
{
	width:60px;
	height:140px;
}

#btn-plus
{
	background-image:url("../assets/small/plus.png");
}

#btn-search
{
	background-image:url("../assets/small/search.png");
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box 
{
	background: #fff;
	border: none;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-ms-filter: none;
	filter: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content 
{
	color: #000064;
	font-size:18px;
	line-height:46px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border 
{
    border-left-color: #fff;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background 
{
    border-left-color: #fff;
}

#search-buttons-group
{
}

#memory-tooltip-transparent
{
	bottom:0px;
	width:100%;
	background-color:#fff;
	z-index:99;
	display:none;
}

.tooltip-opaque
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}

.tooltip-transparent
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}

#memory-tooltip
{
	cursor:pointer;
	background-color:transparent;
	bottom:0px;
	width:100%;
	z-index:100;
	display:none;
}

#memory-tooltip-inner
{
	width:100%;
}

#memory-tooltip-left, #memory-tooltip-right
{
	float:left;
}

#memory-tooltip-left
{
	width:60px;
}

#user-avatar, #user-avatar img
{
	width:60px; 
	height:60px;
} 

#memory-tooltip-right
{
	width:calc(100% - 60px);
	padding-left:20px;
}

#m-likes, #m-comments
{
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	padding-left:25px;
}

#m-likes
{
	background-image:url("../assets/small/likes.png");
	padding-right:20px;
}

#m-comments
{
	background-image:url("../assets/small/comments.png");
}