@media only screen and (min-width : 320px)
{

	#map-view
	{
		height:calc(100vh - 60px);
	}

	#memories-count
	{
		bottom:20px;
		left:20px;
		font-size:12px;
		height:12px;
		line-height:12px;
	}

	#map-view-controls
	{
		bottom:20px;
		right:20px;

		#btn-search
		{
			margin-top:14px;
		}
	}

	.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content 
	{
		font-size:12px;
	}

	#search-panel-modal
	{

		.modal-dialog
		{
			width:260px;
		}

	}

	#search-by-tags
	{
		height:90px;
		padding:24px 20px;
	}

	#search-controls
	{
		padding:15px 20px 15px 20px;
	}

	#search-buttons-group
	{
		padding:0px 20px;
	}

	.btn-filter
	{
		font-size:15px;
	}

	#btn-filter-cancel
	{
		margin-bottom:0px;
	}

	#memory-tooltip-transparent, #memory-tooltip
	{
		height:108.5px;
	}

	#memory-tooltip
	{
		padding:0px 20px;
	}

	#memory-tooltip-left
	{
		padding:24.25px 0px;
	}

	#memory-name.view-small
	{
		height:42px;
		font-size:18px;
		font-weight:bold;
		padding-top:18px;
	}

	#memory-location.view-small
	{
		height:26.5px;
		padding-top:2px;
	}

	#memory-likes.view-small
	{
		height:26.5px;
	}

	.view-small
	{
		display:block;
	}

	.view-large
	{
		display:none;
	}

	#m-location.view-small, #m-date-of.view-small
	{
		display:inline;
	}

	#m-location.view-small, #m-location.view-large
	{
		background-repeat:no-repeat;
		background-position:left center;
		background-image:url("../assets/small/location.png");
		padding-left:20px;
	}
}