#search-panel-modal
{
	-webkit-transition : all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
	transition : all 1s ease 0s;
	.modal-dialog
	{
		background-color:#FFBE00;
	}
}

#search-by-tags
{
	width:100%;
	background-color:#fff;
	.form-control
	{
		background-image:url("../assets/small/filter.png");
		background-repeat:no-repeat;
		background-position:right center;
		padding-right:25px;
	}
}

#search-by-years
{
	/* overflow:hidden; */
	width:100%;
	#years-form-group
	{
		width:100%;
		.input-group
		{
			width:100%;
			#years-range
			{
				width:100%;
			}
		}
		margin:0px;
		position:relative;
		top:-10px;
	}
	#year-from, #year-to
	{
		font-weight:bold;
		color:#000064;
	}
	#years-range
	{
		visibility: hidden;
	}
	.irs-line, .irs-bar, .irs-line-left, .irs-line-mid, .irs-line-right
	{
		height:1px;
	}
	.irs-line
	{
		background: #ffd966;
		border:none;
	}
	.irs-bar
	{
		background: #fff;
		border:none;
	}
	.irs-slider
	{
		height:20px;
		width:20px;
		top:24px;
		border:1px solid #fff;
		background:#FFF;
		-moz-box-shadow: initial;
		-webkit-box-shadow: initial;
		box-shadow: initial;
		-ms-filter: initial;
		filter: initial;
	}
	.irs-to, .irs-from, .irs-single
	{
		display:none;
	}
}

.select-container
{
	margin:0px auto;
	width:100%;
	*
	{
		webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	select{
		width:100%;
	}


	.bootstrap-select, .bootstrap-select>button.btn
	{
		background-color:transparent;
		border:none;
		-moz-box-shadow: initial;
		-webkit-box-shadow: initial;
		box-shadow: initial;
		-ms-filter: initial;
		filter: initial;
		&:focus
		{
			outline:0 none !important;
		}
	}

	.open>.dropdown-toggle.btn-default:hover {
		color: #333;
		background-color: transparent;
		border-color: #00f;
	}

	.bootstrap-select.btn-group .dropdown-toggle .caret 
	{
		right:0px;
	}

	.bootstrap-select
	{
		border-bottom:1px solid #FFF;

		

		.bs-caret, .bs-caret .caret
		{
			color:#fff;
		}
		ul.dropdown-menu, div.dropdown-menu
		{
			width:100%;
			min-width:100%;
			max-width:100%;
			background-color:#FFBE00;
			li>a>span
			{
				color:#000064;
			}
			.active>a
			{
				background-color:#000064;
				>span
				{
					color:#FFF;
				}
			}
		}
		.popover-title
		{
			background-color:#FFBE00;
		}
		.bs-searchbox
		{
			.form-control
			{
				-moz-box-shadow: initial;
				-webkit-box-shadow: initial;
				box-shadow: initial;
				-ms-filter: initial;
				filter: initial;
				&:focus
				{
					border: 1px solid #ccc;
				}
				padding-left:6px;
				padding-right:6px;
			}
		}
	}

	.filter-option
	{
		color:#000064;
		font-weight:bold;
	}
}

#filter-loading-indicator
{
	background-image:url("../assets/small/hourglass.gif") !important;
	width:20px;
	height:20px;
	display:none;
}

#error-messages
{
	display:none;
	padding:0px 0px 0px 50px;
	margin:0px;
	color:#D72828;
	min-height:45px;
	background-image:url("../assets/small/error.png");
	background-repeat:no-repeat;
	background-position:left center;
}