#navigation
{
	width:100%;
	background-color:#ffbe00;
}

#logo
{
	float:left;
	cursor : pointer;
	a
	{
		display:inline-block;
	}
}

#burger
{
	float:right;
}

#ajax-loader
{
	float:right;
	display:none;
}