@media only screen and (min-width : 320px)
{
	#navigation
	{
		height:60px;
		padding:20px 20px 0px 20px;
	}

	#logo, #burger
	{
		height:20px;
	}

	#logo
	{
		width:213px;
		background-image:url("../assets/small/logo.png");
	}

	#burger
	{
		width:20px;
		button
		{
			background-image:url("../assets/small/burger.png");
		}
	}

	#ajax-loader
	{
		height:20px;
		width:20px;

		>div
		{
			margin:0px 0px 0px 0px;
		}
	}

}