@media only screen and (min-width : 992px)
{
	#navigation
	{
		height:65px;
		padding:20px 30px 0px 30px;
	}

	#logo, #burger
	{
		height:25px;
	}

	#logo
	{
		width:305px;
		background-image:url("../assets/large/logo.png");
	}

	#burger
	{
		width:29px;
		button
		{
			background-image:url("../assets/large/burger.png");
		}
	}
}