@mixin Opacity($value)
{
	$IEValue: $value*100;

	opacity: $value;
	-moz-opacity: $value;
	-khtml-opacity: $value;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
}

@mixin EasyTransition($time)
{
	transition : all $time ease 0s;
	-webkit-transition : all $time ease 0s;
	-moz-transition : all $time ease 0s;
    -o-transition : all $time ease 0s;
    -ms-transition : all $time ease 0s;
}

@mixin BorderRadius($radius) 
{
	-webkit-border-radius : $radius !important;
	border-radius : $radius !important;
	-moz-border-radius : $radius !important;
	background-clip : padding-box;
}

@mixin SetBackground($image, $position)
{
	background-image : url("../assets/" + $image);
	background-position : $position;
	background-repeat : no-repeat;
}